@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<div id="app">
    {{ info }}
</div>



<script>
    var bodyFormData = new FormData();
    bodyFormData.set('client_id', 'ClientApiCajaAhorro');
    bodyFormData.set('client_secret', 'Test123*');
    bodyFormData.set('grant_type', 'authorization_code');
    bodyFormData.set('code', 'hdh922');
    bodyFormData.set('redirect_uri', 'http://localhost:6088/Contact');
    new Vue({
        el: '#app',
        data() {
            return {
                info: null
            }
        },
        mounted() {
            axios({
                method: 'post',
                url: "https://localhost:44330/connect/token",
                data: bodyFormData,
                config: { headers: { 'Content-Type': 'multipart/form-data' } }
            }).then(function (res) {
                
                axios
                    .setToken(res,'Bearer')
           .get('https://localhost:44397/api/values', {
               
                headers: {
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Headers": "Content-Type",
                    "Access-Control-Allow-Methods":"GET, POST, PUT, DELETE, OPTIONS",
                },
                responseType: 'json',
            })
                .then(response => (this.info = response))

                });

            }
        
    })

</script>